
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="berg.html">Berg</a></li>
                    <li></li>
                    <li></li>  
                    <li></li>
                </ul>
            </nav>
            <hr>
            <h1>Steam iceberg</h1>
        </header>
        <h2> how it works</h2>  
        <section>
            <p> idk how</p>
            <img src = "images/NOWAY.jpg">
            <button>Go to the berg</button>
        </section>
        
    </body>
</html>